<div class="header">
    <div class="grid-container">
        <div class="grid-item grid-itemA">ツイート</div>
        <div class="grid-item grid-itemB">ツイートと返信</div>
        <div class="grid-item grid-itemC">メディア</div>
        <div class="grid-item grid-itemD">いいね</div>
    </div>
</div>