<div class="header">
<div class="grid-container">
    <div class="grid-item grid-itemA">アイテムA</div>
    <div class="grid-item grid-itemB">アイテムB</div>
    <div class="grid-item grid-itemC">アイテムC</div>
    <div class="grid-item grid-itemD">アイテムD</div>
</div>
    <col>ツイート</col>
    <col>ツイートと返信</col>
    <col>メディア</col>
    <col>いいね</col>
    

</div>