<div class="header">
<div>
    <col class="header menu">ツイート</col>
    <col class="header menu">ツイートと返信</col>
    <col class="header menu">メディア</col>
    <col class="header menu">いいね</col>
    
</div>
</div>