<p>sidebar</p>
<div class="sidebar">
    <col><button_to>ホーム</button_to></col>
    <col></col>
    <col></col>
    <col></col>
    <col></col>
    <col></col>
    <col></col>
    <col></col>
    <col></col>
</div>