<p>sidebar</p>
<div class="sidebar">
    <col><button>ホーム</button></col>
    <col></col>
    <col></col>
    <col></col>
    <col></col>
    <col></col>
    <col></col>
    <col></col>
    <col></col>
</div>