<h1>Tweet詳細</h1>

メッセージ：<br><%= @tweet.message %><br>
<%= image_tag "/get_image/#{@tweet.id}", :size => '70x70' %><br>
<br>

投稿日時：<br><%= l @tweet.tdate, format: :short %><br>

<br>
<%= link_to '戻る', root_path %>