/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .header{
     height: 50px;
     text-align: center;
 }
 .header menu{
     padding-left: 5%;
     padding-right: 5%;
 }
 
 .image_border {
  width: 50px;
  padding: 0px;
  border-radius:50%;
  background: linear-gradient(to right bottom, #c71585, #ffc0cb);
}
 .image_circle {
  height: 50px;
  border-radius:50%;
  background-image: url("yume86.png");
  /*background-position: 54% 36%;*/
}
 
.contentA {
  float: left;
  width: 30%;
}

.contentB {
  float: right;
  width: 70%;
}

.contentC {
  float: left;
  width: 10%;
}

.contentD {
  float: right;
  width: 90%;
}