/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 .grid-item {
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	color: #ffffff;
	background-color: #1ece50; /*--各アイテム 背景色のみ変更しております--*/
	padding: 10px;
	box-sizing: border-box;
}
.grid-itemA {
	grid-row: 1;
	grid-column: 1;
}
.grid-itemB {
	grid-row: 1 ;
	grid-column: 2 / 4;
}
.grid-itemC {
	grid-row: 1 ;
	grid-column: 4 / 5;
}
.grid-itemD {
	grid-row: 1 ;
	grid-column: 5 / 6;
}
.grid-container {
	display: grid;
	
	
	/*--以下装飾--*/
	background-color: #ffffff;
	border: solid 5px #fb6158;
}
 .header {
     height: 50px;
 }
 
.header_menu {
     padding-left: 20px;
     padding-right: 20px;
 }
 
 .image_border {
  width: 50px;
  padding: 0px;
  border-radius:50%;
  background: linear-gradient(to right bottom, #c71585, #ffc0cb);
}
 .image_circle {
  height: 50px;
  border-radius:50%;
  background-image: url("yume86.png");
  /*background-position: 54% 36%;*/
}
 
.contentA {
  float: left;
  width: 30%;
}

.contentB {
  float: right;
  width: 70%;
}

.contentC {
  float: left;
  width: 10%;
}

.contentD {
  float: right;
  width: 90%;
}