/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .text_form {
    margin: 5px; 
    margin-left: 30px;
    background-color: white;
    font-size: 20px;
    height: 200px;
    outline: none;
    border: solid 1px #dcdcdc;
  }
  
  .image_form {
    margin: 5px; 
    margin-left: 30px;
  }
 
.btn {
  display: inline-block;
  background: #6bb6ff; /* 背景色 */
  color: #fff; /* 文字色 */
  padding: 10px 16px; /* 上下の余白、左右の余白 */
  text-decoration: none; /* デフォルトで入るリンクの下線を消す */
  border-radius: 30px; /* 角を丸くする */
  border: none;
  text-decoration-line: none;
  font-size: 15px;
}

 .btn_edit {
  margin: 5px;   
  margin-left: 100px;
  display: inline-block;
  background: #6bb6ff; /* 背景色 */
  color: #fff; /* 文字色 */
  padding: 10px 16px; /* 上下の余白、左右の余白 */
  text-decoration: none; /* デフォルトで入るリンクの下線を消す */
  border-radius: 30px; /* 角を丸くする */
  border: none;
  text-decoration-line: none;
  font-size: 15px;
  width: 100px;
}

.btn_home {
  display: inline-block;
  background: #dcdcdc; /* 背景色 */
  color: black; /* 文字色 */
  padding: 10px 16px; /* 上下の余白、左右の余白 */
  text-decoration: none; /* デフォルトで入るリンクの下線を消す */
  border-radius: 30px; /* 角を丸くする */
  border: none;
  text-decoration-line: none;
  font-size: 15px;
}

.btn_show {
  display: inline-block;
  background: #dcdcdc; /* 背景色 */
  color: black; /* 文字色 */
  padding: 7px 13px; /* 上下の余白、左右の余白 */
  text-decoration: none; /* デフォルトで入るリンクの下線を消す */
  border-radius: 30px; /* 角を丸くする */
  border: none;
  text-decoration-line: none;
  font-size: 12px;
}
 
 .sidebar{
     padding: 15px;
     
 }
 .sidebar div{
     padding: 10px;
     
 }
 
.tweets {
    border: solid 1px #dcdcdc;
    padding: 20px;
    padding-bottom: 10px;
}



.message {
    padding: 5px;
}
 
.edit {
    float: right;
} 


.grid-item {
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	color: black;
	background-color: #ffffff; /*--各アイテム 背景色のみ変更しております--*/
	padding: 10px;
	box-sizing: border-box;
}
.grid-itemA {
	grid-row: 1;
	grid-column: 1;
	border-bottom: solid 3px #87CEFA;
}
.grid-itemB {
	grid-row: 1 ;
	grid-column: 2 / 4;
}
.grid-itemC {
	grid-row: 1 ;
	grid-column: 4 / 5;
}
.grid-itemD {
	grid-row: 1 ;
	grid-column: 5 / 6;
}
.grid-container {
    padding: 5px;
	display: grid;
	border: solid 1px #dcdcdc;
	
}

.grid-item2 {
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	color: black;
	background-color: #ffffff; /*--各アイテム 背景色のみ変更しております--*/
	padding: 2px;
	box-sizing: border-box;
}
.grid-item21 {
	grid-row: 1 ;
	grid-column: 1 / 2;
}
.grid-item22 {
	grid-row: 1 ;
	grid-column: 2 / 3;
}
.grid-item23 {
	grid-row: 1 ;
	grid-column: 3 / 4;
}
.grid-item24 {
	grid-row: 1 ;
	grid-column: 4 / 5;
}
.grid-item25 {
	grid-row: 1 ;
	grid-column: 5 / 6;
}
.grid-container2 {
	display: grid;
	padding-top: 7px;
	
}


.header {
     height: 50px;
 }
 
.header_menu {
     padding-left: 20px;
     padding-right: 20px;
 }
 

 
.contentA {
  float: left;
  width: 23%;
}

.contentB {
  float: right;
  width: 77%;
}

.tweets　.contentC {
    float: left;
  
  padding: 10px;
}

.tweets　.contentD {
  float: right;
  width: 90%;
}
